[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BTLLasso"]
	path = BTLLasso
	url = https://github.com/cran/BTLLasso
[submodule "DIFboost"]
	path = DIFboost
	url = https://github.com/cran/DIFboost
[submodule "DIFlasso"]
	path = DIFlasso
	url = https://github.com/cran/DIFlasso
[submodule "EffectStars"]
	path = EffectStars
	url = https://github.com/cran/EffectStars
[submodule "EffectStars2"]
	path = EffectStars2
	url = https://github.com/cran/EffectStars2
[submodule "GPCMlasso"]
	path = GPCMlasso
	url = https://github.com/cran/GPCMlasso
[submodule "MultOrdRS"]
	path = MultOrdRS
	url = https://github.com/schaubert/multordrs
[submodule "PCMRS"]
	path = PCMRS
	url = https://github.com/cran/PCMRS
[submodule "UPCM"]
	path = UPCM
	url = https://github.com/cran/UPCM
[submodule "catdata"]
	path = catdata
	url = https://github.com/cran/catdata
